body {
    background:#ffffff;
    color:#000000;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 12pt;
    margin:1ex 2em 0ex 1em;
    overflow-x:hidden;
    text-align: left;
}
button {
    border:0px;
    border-radius:0.25em;
    background:#cccccc;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 1.3em;
    height:1.8em;
    outline:none;
    text-align: center;
    text-decoration:none;
    width: 5em;
}
button::-moz-focus-inner {
  border:0px;
}
button:hover {
    background:#dddddd;
}
div {
    padding:0.5ex;
    white-space:nowrap;
}
.roll_result {
    display:inline-block;
    height:1.8em;
    max-width:85%;
    overflow:hidden;
    text-align:left;
    text-overflow:'';
}
.result0 {
    font-weight:bold;
    font-size:1.6em;
}
.result1 {
    font-size:1.4em;
}
.result2 {
    font-size:1.2em;
}
